* {
    margin:0 auto;
} 
.margin{
    width:1180px;
}
header{
    background:#009b72; 
    height:30px;
    #tou1{
        float: right;
        a{
             font: 14px/30px "";
              color:#fff;
             margin:auto 20px;  
             float:left;
        }
    } 
    
}
nav{
    #n{
        height:80px;
        #n1{
            float:left;
        }
        ul{
            float:right;
           
            li{
                float:left;
                width:72px;
                text-align: center;
                list-style: none;
                a{
                    font:14px/80px "";
                   color: #7b7b7b;
                   padding-bottom:6px;
                }
                a:hover{
                        border-bottom:2px solid #009b72;
                        font:700 18px/80px "";
                        color:#009b72;
                        border-radius:30%;
                }
            }
        }
    }    
}
article{
    height:570px;
    background:#fff;
   
}
section{
    #img0{
        display: flex;
        justify-content: space-between;
        margin-top:5px;
    }
    a{
        position: relative;
    }
    .b1{
        position: absolute;
        width:446px;
        height:230px;
        left: 0;
        top:0;
        background:#000;
        opacity:0;
        transition:1s;
    }
    .a1:hover .b1{
        opacity:0.7;
    }
    .b2{
         position: absolute;
        width:446px;
        height:230px;
        left: 0;
        top:0;
        background:#000;
        opacity:0;
        transition:1s;
    }
     .a2:hover .b2{
        opacity:0.7;
    }
    .b3{
         position: absolute;
        width:446px;
        height:230px;
        left: 0;
        top:0;
        background:#000;
        opacity:0;
        transition:1s;
    }
     .a3:hover .b3{
        opacity:0.7;
      
    }
     
   
}
footer{
    height:380px;
    background:#f6f6f6;
    #margin-1{
        height:254px;
        border-bottom: 1px solid #cfcfcf;
        dl{
          float: left;
          width:220px;
          padding-top:64px;
            dt{
                font:700 14px/34px "";
                color:#363636;
            }
            dd{
              font:12px/30px "";
              color:#363636;
               a:hover{
                font:700 16px/30px "";
                color:#009b72;
                }
            }
        }
    }
    .margin-2{
        float: right;
        padding-top:64px;
        img{
            margin:6px 0 16px 0;
        }
        h3{
            font:900 24px/34px "";
            color:#393939;
            padding-left:40px;
        }
        p{
            font:14px/26px "";
            color:#393939;
            padding-left:45px;
        }
    } 
    #margin-3{
        display: flex;
       
         p{
                font:10px/74px "";
                color:#7b7b7b;
                 float: left;
            }  
        #m1{
           
            font:10px/74px "";
            color:#7b7b7b;
            text-align: right;
               
            ul{
                 float: left;
                height:116px;
                margin-top:22px;
                li{
                    float: left;
                   width:32px;
                   height:32px;
                   position:relative;
                }
                #p1{
                    background:url(../img/wx.jpg);
                    width:146px;
                    height:200px;
                    position:absolute;
                    left:-55px;
                    top:-210px;
                    display: none;
                }
                li:hover #p1{
                    display: block;
                }
                 #p2{
                    background:url(../img/zfb.jpg);
                    width:146px;
                    height:200px;
                    position:absolute;
                    left:-55px;
                    top:-210px;
                    display: none;
                }
                li:hover #p2{
                    display: block;
                }

            }   
        } 
    }
}











