* {
    margin:0 auto;
} 
.margin{
    width:1180px;
}
header{
    background:#009b72; 
    height:30px;
    #tou1{
        float: right;
        a{
             font: 14px/30px "";
              color:#fff;
             margin:auto 20px;  
             float:left;
        }
    } 
    
}
nav{
    #n{
        height:80px;
        #n1{
            float:left;
        }
        ul{
            float:right;
           
            li{
                float:left;
                width:72px;
                text-align: center;
                list-style: none;
                a{
                    font:14px/80px "";
                    color: #7b7b7b;
                   padding-bottom:6px;
                }
                a:hover{
                        border-bottom:2px solid #009b72;
                        font:700 18px/80px "";
                        color:#009b72;
                    }
            }
        }
    }    
}
article{
    height:570px;
    background:#fff;
    #box{
            position:relative;          
            width:1350px;
            height:570px;
            overflow:hidden;
            img{
                width:1350px;
                height:570px;
                position:absolute;
            }
            ul{
                position:absolute;
                right:635px;
                bottom:0px;
                z-index:999;
                li{
                    list-style:none;
                    float:left;
                    margin:10px;
                    width:20px;
                    height:20px;
                    border-radius:50%;
                    border:2px solid #363636;
                    text-align:center;
                    background-color:#000f01;
                }
            }
        }
}
section{
    img{
        float: left;
        margin-top:6px ;
    }
    #img01{
        margin:6px 5px 0 5px;
    }
}
footer{
    height:380px;
    background:#f6f6f6;
    #margin-1{
        height:254px;
        border-bottom: 1px solid #cfcfcf;
        dl{
          float: left;
          width:220px;
          padding-top:64px;
            dt{
                font:700 14px/34px "";
                color:#363636;
            }
            dd{
              font:12px/30px "";
              color:#363636;
            }
        }
    }
    .margin-2{
        float: right;
        padding-top:64px;
        img{
            margin:6px 0 16px 0;
        }
        h3{
            font:900 24px/34px "";
            color:#393939;
            padding-left:40px;
        }
        p{
            font:14px/26px "";
            color:#393939;
            padding-left:45px;
        }
    } 
    #margin-3{
        display: flex;
       
        p{
            font:10px/74px "";
            color:#7b7b7b;
        }  
        #m1{
             font:10px/74px "";
            color:#7b7b7b;
            text-align: right;
        } 
    }
}












